<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>geode.loader/baseAccount_Normal_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{86,83}</string>
				<key>spriteSourceSize</key>
				<string>{86,83}</string>
				<key>textureRect</key>
				<string>{{480,322},{86,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseAccount_Normal_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{86,83}</string>
				<key>spriteSourceSize</key>
				<string>{86,83}</string>
				<key>textureRect</key>
				<string>{{779,667},{86,83}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseAccount_Normal_Purple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{86,83}</string>
				<key>spriteSourceSize</key>
				<string>{86,83}</string>
				<key>textureRect</key>
				<string>{{794,94},{86,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCategory_Big_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-3.5}</string>
				<key>spriteSize</key>
				<string>{201,201}</string>
				<key>spriteSourceSize</key>
				<string>{209,208}</string>
				<key>textureRect</key>
				<string>{{214,0},{201,201}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Big_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{108,111}</string>
				<key>spriteSourceSize</key>
				<string>{108,113}</string>
				<key>textureRect</key>
				<string>{{571,575},{108,111}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Big_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{108,111}</string>
				<key>spriteSourceSize</key>
				<string>{108,113}</string>
				<key>textureRect</key>
				<string>{{460,598},{108,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Big_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{108,111}</string>
				<key>spriteSourceSize</key>
				<string>{108,113}</string>
				<key>textureRect</key>
				<string>{{115,658},{108,111}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Big_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{108,111}</string>
				<key>spriteSourceSize</key>
				<string>{108,113}</string>
				<key>textureRect</key>
				<string>{{227,658},{108,111}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Big_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{108,111}</string>
				<key>spriteSourceSize</key>
				<string>{108,113}</string>
				<key>textureRect</key>
				<string>{{339,621},{108,111}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Big_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{108,111}</string>
				<key>spriteSourceSize</key>
				<string>{108,113}</string>
				<key>textureRect</key>
				<string>{{682,345},{108,111}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Big_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{108,111}</string>
				<key>spriteSourceSize</key>
				<string>{108,113}</string>
				<key>textureRect</key>
				<string>{{682,454},{108,111}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-2.5}</string>
				<key>spriteSize</key>
				<string>{110,114}</string>
				<key>spriteSourceSize</key>
				<string>{112,121}</string>
				<key>textureRect</key>
				<string>{{460,483},{110,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-2.5}</string>
				<key>spriteSize</key>
				<string>{110,114}</string>
				<key>spriteSourceSize</key>
				<string>{112,121}</string>
				<key>textureRect</key>
				<string>{{574,0},{110,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-2.5}</string>
				<key>spriteSize</key>
				<string>{110,114}</string>
				<key>spriteSourceSize</key>
				<string>{112,121}</string>
				<key>textureRect</key>
				<string>{{574,115},{110,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-2.5}</string>
				<key>spriteSize</key>
				<string>{110,114}</string>
				<key>spriteSourceSize</key>
				<string>{112,121}</string>
				<key>textureRect</key>
				<string>{{574,230},{110,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-2.5}</string>
				<key>spriteSize</key>
				<string>{110,114}</string>
				<key>spriteSourceSize</key>
				<string>{112,121}</string>
				<key>textureRect</key>
				<string>{{571,345},{110,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-2.5}</string>
				<key>spriteSize</key>
				<string>{110,114}</string>
				<key>spriteSourceSize</key>
				<string>{112,121}</string>
				<key>textureRect</key>
				<string>{{571,460},{110,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-2.5}</string>
				<key>spriteSize</key>
				<string>{110,114}</string>
				<key>spriteSourceSize</key>
				<string>{112,121}</string>
				<key>textureRect</key>
				<string>{{0,658},{110,114}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Large_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2}</string>
				<key>spriteSize</key>
				<string>{157,160}</string>
				<key>spriteSourceSize</key>
				<string>{160,166}</string>
				<key>textureRect</key>
				<string>{{0,342},{157,160}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Large_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2}</string>
				<key>spriteSize</key>
				<string>{157,160}</string>
				<key>spriteSourceSize</key>
				<string>{160,166}</string>
				<key>textureRect</key>
				<string>{{161,342},{157,160}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Large_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2}</string>
				<key>spriteSize</key>
				<string>{157,160}</string>
				<key>spriteSourceSize</key>
				<string>{160,166}</string>
				<key>textureRect</key>
				<string>{{416,0},{157,160}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Large_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2}</string>
				<key>spriteSize</key>
				<string>{157,160}</string>
				<key>spriteSourceSize</key>
				<string>{160,166}</string>
				<key>textureRect</key>
				<string>{{416,161},{157,160}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Large_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2}</string>
				<key>spriteSize</key>
				<string>{157,160}</string>
				<key>spriteSourceSize</key>
				<string>{160,166}</string>
				<key>textureRect</key>
				<string>{{322,322},{157,160}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Large_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2}</string>
				<key>spriteSize</key>
				<string>{157,160}</string>
				<key>spriteSourceSize</key>
				<string>{160,166}</string>
				<key>textureRect</key>
				<string>{{0,500},{157,160}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Large_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2}</string>
				<key>spriteSize</key>
				<string>{157,160}</string>
				<key>spriteSourceSize</key>
				<string>{160,166}</string>
				<key>textureRect</key>
				<string>{{161,500},{157,160}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Medium_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{93,95}</string>
				<key>spriteSourceSize</key>
				<string>{93,98}</string>
				<key>textureRect</key>
				<string>{{321,767},{93,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Medium_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{93,95}</string>
				<key>spriteSourceSize</key>
				<string>{93,98}</string>
				<key>textureRect</key>
				<string>{{683,667},{93,95}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Medium_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{93,95}</string>
				<key>spriteSourceSize</key>
				<string>{93,98}</string>
				<key>textureRect</key>
				<string>{{415,761},{93,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Medium_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{93,95}</string>
				<key>spriteSourceSize</key>
				<string>{93,98}</string>
				<key>textureRect</key>
				<string>{{509,761},{93,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Medium_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{93,95}</string>
				<key>spriteSourceSize</key>
				<string>{93,98}</string>
				<key>textureRect</key>
				<string>{{603,761},{93,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Medium_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{93,95}</string>
				<key>spriteSourceSize</key>
				<string>{93,98}</string>
				<key>textureRect</key>
				<string>{{697,761},{93,95}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Medium_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{93,95}</string>
				<key>spriteSourceSize</key>
				<string>{93,98}</string>
				<key>textureRect</key>
				<string>{{792,0},{93,95}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3}</string>
				<key>spriteSize</key>
				<string>{103,106}</string>
				<key>spriteSourceSize</key>
				<string>{105,114}</string>
				<key>textureRect</key>
				<string>{{685,0},{103,106}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3}</string>
				<key>spriteSize</key>
				<string>{103,106}</string>
				<key>spriteSourceSize</key>
				<string>{105,114}</string>
				<key>textureRect</key>
				<string>{{685,104},{103,106}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3}</string>
				<key>spriteSize</key>
				<string>{103,106}</string>
				<key>spriteSourceSize</key>
				<string>{105,114}</string>
				<key>textureRect</key>
				<string>{{685,208},{103,106}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3}</string>
				<key>spriteSize</key>
				<string>{103,106}</string>
				<key>spriteSourceSize</key>
				<string>{105,114}</string>
				<key>textureRect</key>
				<string>{{683,563},{103,106}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3}</string>
				<key>spriteSize</key>
				<string>{103,106}</string>
				<key>spriteSourceSize</key>
				<string>{105,114}</string>
				<key>textureRect</key>
				<string>{{0,769},{103,106}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3}</string>
				<key>spriteSize</key>
				<string>{103,106}</string>
				<key>spriteSourceSize</key>
				<string>{105,114}</string>
				<key>textureRect</key>
				<string>{{107,769},{103,106}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3}</string>
				<key>spriteSize</key>
				<string>{103,106}</string>
				<key>spriteSourceSize</key>
				<string>{105,114}</string>
				<key>textureRect</key>
				<string>{{214,767},{103,106}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Small_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{77,80}</string>
				<key>spriteSourceSize</key>
				<string>{77,82}</string>
				<key>textureRect</key>
				<string>{{87,873},{77,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Small_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{77,80}</string>
				<key>spriteSourceSize</key>
				<string>{77,82}</string>
				<key>textureRect</key>
				<string>{{165,873},{77,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Small_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{77,80}</string>
				<key>spriteSourceSize</key>
				<string>{77,82}</string>
				<key>textureRect</key>
				<string>{{243,871},{77,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Small_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{77,80}</string>
				<key>spriteSourceSize</key>
				<string>{77,82}</string>
				<key>textureRect</key>
				<string>{{321,863},{77,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Small_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{77,80}</string>
				<key>spriteSourceSize</key>
				<string>{77,82}</string>
				<key>textureRect</key>
				<string>{{399,863},{77,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Small_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{77,80}</string>
				<key>spriteSourceSize</key>
				<string>{77,82}</string>
				<key>textureRect</key>
				<string>{{793,838},{77,80}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Small_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{77,80}</string>
				<key>spriteSourceSize</key>
				<string>{77,82}</string>
				<key>textureRect</key>
				<string>{{697,855},{77,80}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{83,86}</string>
				<key>spriteSourceSize</key>
				<string>{83,88}</string>
				<key>textureRect</key>
				<string>{{794,178},{83,86}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{83,86}</string>
				<key>spriteSourceSize</key>
				<string>{83,88}</string>
				<key>textureRect</key>
				<string>{{794,262},{83,86}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{83,86}</string>
				<key>spriteSourceSize</key>
				<string>{83,88}</string>
				<key>textureRect</key>
				<string>{{794,346},{83,86}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{83,86}</string>
				<key>spriteSourceSize</key>
				<string>{83,88}</string>
				<key>textureRect</key>
				<string>{{794,430},{83,86}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{83,86}</string>
				<key>spriteSourceSize</key>
				<string>{83,88}</string>
				<key>textureRect</key>
				<string>{{794,514},{83,86}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{83,86}</string>
				<key>spriteSourceSize</key>
				<string>{83,88}</string>
				<key>textureRect</key>
				<string>{{793,754},{83,86}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{83,86}</string>
				<key>spriteSourceSize</key>
				<string>{83,88}</string>
				<key>textureRect</key>
				<string>{{0,873},{83,86}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{53,56}</string>
				<key>spriteSourceSize</key>
				<string>{53,58}</string>
				<key>textureRect</key>
				<string>{{320,267},{53,56}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{53,56}</string>
				<key>spriteSourceSize</key>
				<string>{53,58}</string>
				<key>textureRect</key>
				<string>{{881,542},{53,56}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{53,56}</string>
				<key>spriteSourceSize</key>
				<string>{53,58}</string>
				<key>textureRect</key>
				<string>{{880,665},{53,56}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{53,56}</string>
				<key>spriteSourceSize</key>
				<string>{53,58}</string>
				<key>textureRect</key>
				<string>{{880,719},{53,56}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{53,56}</string>
				<key>spriteSourceSize</key>
				<string>{53,58}</string>
				<key>textureRect</key>
				<string>{{880,773},{53,56}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{53,56}</string>
				<key>spriteSourceSize</key>
				<string>{53,58}</string>
				<key>textureRect</key>
				<string>{{880,827},{53,56}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{53,56}</string>
				<key>spriteSourceSize</key>
				<string>{53,58}</string>
				<key>textureRect</key>
				<string>{{874,881},{53,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCross_Huge_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-5}</string>
				<key>spriteSize</key>
				<string>{213,213}</string>
				<key>spriteSourceSize</key>
				<string>{229,229}</string>
				<key>textureRect</key>
				<string>{{0,0},{213,213}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCross_Small_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-3}</string>
				<key>spriteSize</key>
				<string>{137,137}</string>
				<key>spriteSourceSize</key>
				<string>{147,147}</string>
				<key>textureRect</key>
				<string>{{322,483},{137,137}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Aqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{67,70}</string>
				<key>spriteSourceSize</key>
				<string>{67,72}</string>
				<key>textureRect</key>
				<string>{{185,267},{67,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,69}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{253,267},{66,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_BrightGreen.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,69}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{569,684},{66,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,69}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{480,406},{66,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_DarkGray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,69}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{477,857},{66,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_DimGreen.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,69}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{544,857},{66,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,69}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{611,857},{66,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,69}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{888,0},{66,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_LightBlue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,69}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{888,70},{66,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Magenta.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,69}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{862,598},{66,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Orange.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,69}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{881,140},{66,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,69}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{881,207},{66,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Salmon.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,69}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{881,274},{66,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Teal.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,69}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{881,341},{66,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseIconSelect_Normal_Selected.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{66,69}</string>
				<key>spriteSourceSize</key>
				<string>{67,71}</string>
				<key>textureRect</key>
				<string>{{881,408},{66,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{66,69}</string>
				<key>spriteSourceSize</key>
				<string>{67,71}</string>
				<key>textureRect</key>
				<string>{{881,475},{66,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{71,68}</string>
				<key>spriteSourceSize</key>
				<string>{72,68}</string>
				<key>textureRect</key>
				<string>{{790,598},{71,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseTab_Normal_Selected.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{184,62}</string>
				<key>spriteSourceSize</key>
				<string>{184,64}</string>
				<key>textureRect</key>
				<string>{{0,214},{184,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseTab_Normal_Unselected.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{184,64}</string>
				<key>spriteSourceSize</key>
				<string>{184,64}</string>
				<key>textureRect</key>
				<string>{{214,202},{184,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{184,64}</string>
				<key>spriteSourceSize</key>
				<string>{184,64}</string>
				<key>textureRect</key>
				<string>{{0,277},{184,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>geode.loader/BlankSheet-hd.png</string>
			<key>size</key>
			<string>{954,956}</string>
			<key>textureFileName</key>
			<string>geode.loader/BlankSheet-hd.png</string>
		</dict>
	</dict>
</plist>