<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>boost_01_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,41}</string>
				<key>spriteSourceSize</key>
				<string>{32,41}</string>
				<key>textureRect</key>
				<string>{{522,569},{32,41}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>boost_02_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,54}</string>
				<key>spriteSourceSize</key>
				<string>{30,54}</string>
				<key>textureRect</key>
				<string>{{467,569},{30,54}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>boost_03_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{48,54}</string>
				<key>spriteSourceSize</key>
				<string>{48,54}</string>
				<key>textureRect</key>
				<string>{{569,0},{48,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boost_04_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,54}</string>
				<key>spriteSourceSize</key>
				<string>{62,54}</string>
				<key>textureRect</key>
				<string>{{295,525},{62,54}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>boost_05_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,51}</string>
				<key>spriteSourceSize</key>
				<string>{64,51}</string>
				<key>textureRect</key>
				<string>{{514,204},{64,51}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_challengeBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{0,218},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_createBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{105,218},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_creatorBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,70}</string>
				<key>spriteSourceSize</key>
				<string>{70,70}</string>
				<key>textureRect</key>
				<string>{{478,295},{70,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_dailyBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{289,0},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_dailyCrown_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{82,57}</string>
				<key>spriteSourceSize</key>
				<string>{82,59}</string>
				<key>textureRect</key>
				<string>{{420,294},{82,57}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_eventBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{210,213},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_eventCrown_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{80,61}</string>
				<key>spriteSourceSize</key>
				<string>{80,63}</string>
				<key>textureRect</key>
				<string>{{357,420},{80,61}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_featuredBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{245,105},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_freeLevelsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{66,64}</string>
				<key>spriteSourceSize</key>
				<string>{66,65}</string>
				<key>textureRect</key>
				<string>{{504,436},{66,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_fullBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{80,69}</string>
				<key>spriteSourceSize</key>
				<string>{80,70}</string>
				<key>textureRect</key>
				<string>{{499,0},{80,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_gauntletsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{0,323},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_highscoreBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{105,323},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_listsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{210,318},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_mapBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{394,0},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_mapPacksBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{350,105},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_moreGamesBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,70}</string>
				<key>spriteSourceSize</key>
				<string>{82,70}</string>
				<key>textureRect</key>
				<string>{{433,460},{72,70}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_pathsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{315,210},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_playBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{109,108}</string>
				<key>spriteSourceSize</key>
				<string>{109,109}</string>
				<key>textureRect</key>
				<string>{{117,103},{109,108}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_safeBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,49}</string>
				<key>spriteSourceSize</key>
				<string>{43,49}</string>
				<key>textureRect</key>
				<string>{{568,139},{43,49}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_savedBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{315,315},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_searchBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{0,428},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_versusBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{210,423},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_weeklyBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,104}</string>
				<key>spriteSourceSize</key>
				<string>{104,104}</string>
				<key>textureRect</key>
				<string>{{105,428},{104,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_weeklyCrown_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{82,57}</string>
				<key>spriteSourceSize</key>
				<string>{82,59}</string>
				<key>textureRect</key>
				<string>{{420,377},{82,57}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,1}</string>
				<key>spriteSize</key>
				<string>{44,44}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{569,55},{44,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,2}</string>
				<key>spriteSize</key>
				<string>{59,54}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{412,533},{59,54}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,2.5}</string>
				<key>spriteSize</key>
				<string>{62,61}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{350,533},{62,61}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,2}</string>
				<key>spriteSize</key>
				<string>{63,64}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{231,533},{63,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,2}</string>
				<key>spriteSize</key>
				<string>{65,64}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{504,503},{65,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,1.5}</string>
				<key>spriteSize</key>
				<string>{66,67}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{164,533},{66,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1.5}</string>
				<key>spriteSize</key>
				<string>{69,69}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{0,533},{69,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{70,69}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{478,366},{70,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_009.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,2}</string>
				<key>spriteSize</key>
				<string>{69,68}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>textureRect</key>
				<string>{{70,533},{69,68}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_01_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-10,0}</string>
				<key>spriteSize</key>
				<string>{17,71}</string>
				<key>spriteSourceSize</key>
				<string>{37,71}</string>
				<key>textureRect</key>
				<string>{{478,277},{17,71}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_01_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{15,71}</string>
				<key>spriteSourceSize</key>
				<string>{15,71}</string>
				<key>textureRect</key>
				<string>{{498,204},{15,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_02_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-11.5,0}</string>
				<key>spriteSize</key>
				<string>{20,72}</string>
				<key>spriteSourceSize</key>
				<string>{43,72}</string>
				<key>textureRect</key>
				<string>{{494,139},{20,72}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_02_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,0}</string>
				<key>spriteSize</key>
				<string>{31,83}</string>
				<key>spriteSourceSize</key>
				<string>{36,83}</string>
				<key>textureRect</key>
				<string>{{420,210},{31,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{43,72}</string>
				<key>spriteSourceSize</key>
				<string>{49,72}</string>
				<key>textureRect</key>
				<string>{{494,160},{43,72}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_03_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,0}</string>
				<key>spriteSize</key>
				<string>{38,89}</string>
				<key>spriteSourceSize</key>
				<string>{44,89}</string>
				<key>textureRect</key>
				<string>{{455,105},{38,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-9.5,0}</string>
				<key>spriteSize</key>
				<string>{25,75}</string>
				<key>spriteSourceSize</key>
				<string>{44,75}</string>
				<key>textureRect</key>
				<string>{{357,501},{25,75}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_04_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,0}</string>
				<key>spriteSize</key>
				<string>{21,86}</string>
				<key>spriteSourceSize</key>
				<string>{24,86}</string>
				<key>textureRect</key>
				<string>{{455,195},{21,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_05_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{24,69}</string>
				<key>spriteSourceSize</key>
				<string>{33,70}</string>
				<key>textureRect</key>
				<string>{{139,533},{24,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_05_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,74}</string>
				<key>spriteSourceSize</key>
				<string>{33,74}</string>
				<key>textureRect</key>
				<string>{{494,105},{33,74}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_06_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-11.5,0}</string>
				<key>spriteSize</key>
				<string>{20,72}</string>
				<key>spriteSourceSize</key>
				<string>{43,72}</string>
				<key>textureRect</key>
				<string>{{477,204},{20,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_06_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,0}</string>
				<key>spriteSize</key>
				<string>{18,87}</string>
				<key>spriteSourceSize</key>
				<string>{21,87}</string>
				<key>textureRect</key>
				<string>{{199,61},{18,87}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spiderDash_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,0}</string>
				<key>spriteSize</key>
				<string>{213,19}</string>
				<key>spriteSourceSize</key>
				<string>{221,21}</string>
				<key>textureRect</key>
				<string>{{0,41},{213,19}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,0}</string>
				<key>spriteSize</key>
				<string>{198,21}</string>
				<key>spriteSourceSize</key>
				<string>{221,21}</string>
				<key>textureRect</key>
				<string>{{0,61},{198,21}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-30,0}</string>
				<key>spriteSize</key>
				<string>{151,19}</string>
				<key>spriteSourceSize</key>
				<string>{221,21}</string>
				<key>textureRect</key>
				<string>{{0,83},{151,19}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-46.5,0.5}</string>
				<key>spriteSize</key>
				<string>{120,18}</string>
				<key>spriteSourceSize</key>
				<string>{221,21}</string>
				<key>textureRect</key>
				<string>{{152,83},{120,18}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-54.5,0.5}</string>
				<key>spriteSize</key>
				<string>{106,18}</string>
				<key>spriteSourceSize</key>
				<string>{221,21}</string>
				<key>textureRect</key>
				<string>{{226,102},{106,18}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spiderDash_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-71.5,1}</string>
				<key>spriteSize</key>
				<string>{72,17}</string>
				<key>spriteSourceSize</key>
				<string>{221,21}</string>
				<key>textureRect</key>
				<string>{{214,41},{72,17}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-79,1}</string>
				<key>spriteSize</key>
				<string>{59,17}</string>
				<key>spriteSourceSize</key>
				<string>{221,21}</string>
				<key>textureRect</key>
				<string>{{550,269},{59,17}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spiderDash_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-98,1.5}</string>
				<key>spriteSize</key>
				<string>{23,16}</string>
				<key>spriteSourceSize</key>
				<string>{221,21}</string>
				<key>textureRect</key>
				<string>{{478,436},{23,16}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>theTowerDoor_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,114}</string>
				<key>spriteSourceSize</key>
				<string>{116,114}</string>
				<key>textureRect</key>
				<string>{{0,103},{116,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>theTowerLabel_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{91,44}</string>
				<key>spriteSourceSize</key>
				<string>{92,44}</string>
				<key>textureRect</key>
				<string>{{312,423},{91,44}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>weeklyLevelsLabel_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{288,40}</string>
				<key>spriteSourceSize</key>
				<string>{288,40}</string>
				<key>textureRect</key>
				<string>{{0,0},{288,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_GameSheet04.png</string>
			<key>size</key>
			<string>{617,602}</string>
			<key>textureFileName</key>
			<string>GJ_GameSheet04.png</string>
		</dict>
	</dict>
</plist>