<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>RL_listBorderBackground_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{160,160}</string>
				<key>spriteSourceSize</key>
				<string>{160,160}</string>
				<key>textureRect</key>
				<string>{{0,391},{160,160}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>RL_listBorderBackground_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,320}</string>
				<key>spriteSourceSize</key>
				<string>{30,320}</string>
				<key>textureRect</key>
				<string>{{0,360},{30,320}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>RL_listBorderBottom_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7.5}</string>
				<key>spriteSize</key>
				<string>{778,88}</string>
				<key>spriteSourceSize</key>
				<string>{778,103}</string>
				<key>textureRect</key>
				<string>{{0,182},{778,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>RL_listBorderBottom_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7.5}</string>
				<key>spriteSize</key>
				<string>{778,88}</string>
				<key>spriteSourceSize</key>
				<string>{778,103}</string>
				<key>textureRect</key>
				<string>{{0,271},{778,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>RL_listBorderSide_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4.5,0}</string>
				<key>spriteSize</key>
				<string>{46,128}</string>
				<key>spriteSourceSize</key>
				<string>{59,128}</string>
				<key>textureRect</key>
				<string>{{161,391},{46,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>RL_listBorderTop_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-6.5}</string>
				<key>spriteSize</key>
				<string>{788,90}</string>
				<key>spriteSourceSize</key>
				<string>{788,107}</string>
				<key>textureRect</key>
				<string>{{0,0},{788,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>RL_listBorderTop_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-6.5}</string>
				<key>spriteSize</key>
				<string>{788,90}</string>
				<key>spriteSourceSize</key>
				<string>{788,107}</string>
				<key>textureRect</key>
				<string>{{0,91},{788,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>ListBorder-hd.png</string>
			<key>size</key>
			<string>{788,551}</string>
			<key>textureFileName</key>
			<string>ListBorder-hd.png</string>
		</dict>
	</dict>
</plist>