<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>button-admin-ban.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,47}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{451,522},{46,47}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button-admin-eject.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,47}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{443,387},{46,47}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button-admin-history.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,47}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{488,435},{46,47}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button-admin-kick.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,47}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{535,375},{46,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>button-admin-mute.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,47}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{535,422},{46,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>button-admin-notice.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,47}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{535,469},{46,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>button-admin-password.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,47}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{498,516},{46,47}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button-admin-room-ban.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{56,58}</string>
				<key>spriteSourceSize</key>
				<string>{56,60}</string>
				<key>textureRect</key>
				<string>{{478,318},{56,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>button-admin-room-unban.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{56,58}</string>
				<key>spriteSourceSize</key>
				<string>{56,60}</string>
				<key>textureRect</key>
				<string>{{402,330},{56,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>button-admin-unban.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,48}</string>
				<key>spriteSourceSize</key>
				<string>{46,48}</string>
				<key>textureRect</key>
				<string>{{402,523},{46,48}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>button-admin-unmute.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,47}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{545,516},{46,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>button-admin-unwhitelist.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,47}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{545,563},{46,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>button-admin-verify.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,48}</string>
				<key>spriteSourceSize</key>
				<string>{46,48}</string>
				<key>textureRect</key>
				<string>{{441,473},{46,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button-admin-whitelist.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,47}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{498,564},{46,47}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button-pin-level.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,47}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{0,570},{46,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>button-privacy-ingame-off.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,34}</string>
				<key>spriteSourceSize</key>
				<string>{33,34}</string>
				<key>textureRect</key>
				<string>{{119,617},{33,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button-privacy-ingame-on.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,34}</string>
				<key>spriteSourceSize</key>
				<string>{33,34}</string>
				<key>textureRect</key>
				<string>{{153,617},{33,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button-privacy-invites-off.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,34}</string>
				<key>spriteSourceSize</key>
				<string>{33,34}</string>
				<key>textureRect</key>
				<string>{{187,617},{33,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button-privacy-invites-on.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,34}</string>
				<key>spriteSourceSize</key>
				<string>{33,34}</string>
				<key>textureRect</key>
				<string>{{221,617},{33,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button-privacy-lists-off.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,34}</string>
				<key>spriteSourceSize</key>
				<string>{33,34}</string>
				<key>textureRect</key>
				<string>{{255,617},{33,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button-privacy-lists-on.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,34}</string>
				<key>spriteSourceSize</key>
				<string>{33,34}</string>
				<key>textureRect</key>
				<string>{{289,617},{33,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button-privacy-roles-off.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,34}</string>
				<key>spriteSourceSize</key>
				<string>{33,34}</string>
				<key>textureRect</key>
				<string>{{323,617},{33,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button-privacy-roles-on.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,34}</string>
				<key>spriteSourceSize</key>
				<string>{33,34}</string>
				<key>textureRect</key>
				<string>{{357,617},{33,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button-privacy-settings.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,34}</string>
				<key>spriteSourceSize</key>
				<string>{33,34}</string>
				<key>textureRect</key>
				<string>{{391,617},{33,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>button-secret.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,34}</string>
				<key>spriteSourceSize</key>
				<string>{33,34}</string>
				<key>textureRect</key>
				<string>{{425,617},{33,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>conn-test-bars-icon.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{637,68},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>conn-test-desktop-icon.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{637,101},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>conn-test-internet-icon.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{637,134},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>conn-test-xbl-icon.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,24}</string>
				<key>spriteSourceSize</key>
				<string>{24,24}</string>
				<key>textureRect</key>
				<string>{{637,254},{24,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>daily-glow.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,75}</string>
				<key>spriteSourceSize</key>
				<string>{75,75}</string>
				<key>textureRect</key>
				<string>{{402,254},{75,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>deafen-icon-off.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{31,29}</string>
				<key>spriteSourceSize</key>
				<string>{31,31}</string>
				<key>textureRect</key>
				<string>{{592,627},{31,29}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>deafen-icon-on.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{31,29}</string>
				<key>spriteSourceSize</key>
				<string>{31,31}</string>
				<key>textureRect</key>
				<string>{{624,627},{31,29}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>default-player-cube.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,30}</string>
				<key>spriteSourceSize</key>
				<string>{30,30}</string>
				<key>textureRect</key>
				<string>{{637,167},{30,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dummy-icon2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{27,27}</string>
				<key>spriteSourceSize</key>
				<string>{27,27}</string>
				<key>textureRect</key>
				<string>{{637,198},{27,27}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>featured-player-icon.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,36}</string>
				<key>spriteSourceSize</key>
				<string>{33,36}</string>
				<key>textureRect</key>
				<string>{{396,387},{33,36}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>friend-gradient.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,0}</string>
				<key>spriteSize</key>
				<string>{146,30}</string>
				<key>spriteSourceSize</key>
				<string>{150,30}</string>
				<key>textureRect</key>
				<string>{{310,387},{146,30}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>friend-icon.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{49,36}</string>
				<key>spriteSourceSize</key>
				<string>{50,36}</string>
				<key>textureRect</key>
				<string>{{542,276},{49,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-among-us.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{197,197}</string>
				<key>spriteSourceSize</key>
				<string>{220,197}</string>
				<key>textureRect</key>
				<string>{{395,0},{197,197}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-ban.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,41}</string>
				<key>spriteSourceSize</key>
				<string>{43,41}</string>
				<key>textureRect</key>
				<string>{{593,47},{43,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-chat.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{47,44}</string>
				<key>spriteSourceSize</key>
				<string>{47,47}</string>
				<key>textureRect</key>
				<string>{{490,375},{47,44}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>icon-close-room.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,41}</string>
				<key>spriteSourceSize</key>
				<string>{43,41}</string>
				<key>textureRect</key>
				<string>{{593,89},{43,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-credits.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,41}</string>
				<key>spriteSourceSize</key>
				<string>{43,41}</string>
				<key>textureRect</key>
				<string>{{593,131},{43,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-crown-btn.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{82,55}</string>
				<key>spriteSourceSize</key>
				<string>{82,59}</string>
				<key>textureRect</key>
				<string>{{402,198},{82,55}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-crown-small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{39,32}</string>
				<key>spriteSourceSize</key>
				<string>{39,32}</string>
				<key>textureRect</key>
				<string>{{488,483},{39,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-crown.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{82,57}</string>
				<key>spriteSourceSize</key>
				<string>{82,59}</string>
				<key>textureRect</key>
				<string>{{485,198},{82,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-discord.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,41}</string>
				<key>spriteSourceSize</key>
				<string>{43,41}</string>
				<key>textureRect</key>
				<string>{{593,173},{43,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-edition.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>textureRect</key>
				<string>{{341,475},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-epic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,8.5}</string>
				<key>spriteSize</key>
				<string>{48,49}</string>
				<key>spriteSourceSize</key>
				<string>{48,66}</string>
				<key>textureRect</key>
				<string>{{392,473},{48,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-featured-label.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{194,51}</string>
				<key>spriteSourceSize</key>
				<string>{194,51}</string>
				<key>textureRect</key>
				<string>{{330,147},{194,51}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>icon-featured.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,5.5}</string>
				<key>spriteSize</key>
				<string>{42,42}</string>
				<key>spriteSourceSize</key>
				<string>{42,53}</string>
				<key>textureRect</key>
				<string>{{593,509},{42,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-folder-settings.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,29}</string>
				<key>spriteSourceSize</key>
				<string>{34,29}</string>
				<key>textureRect</key>
				<string>{{459,617},{34,29}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>icon-glow.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{56,54}</string>
				<key>textureRect</key>
				<string>{{341,367},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-hide-player.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,47}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{48,570},{46,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>icon-invite-menu.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,34}</string>
				<key>spriteSourceSize</key>
				<string>{33,34}</string>
				<key>textureRect</key>
				<string>{{489,617},{33,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-invite.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,19}</string>
				<key>spriteSourceSize</key>
				<string>{26,19}</string>
				<key>textureRect</key>
				<string>{{382,198},{26,19}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>icon-kick-all.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,47}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{96,570},{46,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>icon-kick.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,47}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{144,570},{46,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>icon-kofi.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,41}</string>
				<key>spriteSourceSize</key>
				<string>{43,41}</string>
				<key>textureRect</key>
				<string>{{593,215},{43,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-leave-server.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,34}</string>
				<key>spriteSourceSize</key>
				<string>{33,34}</string>
				<key>textureRect</key>
				<string>{{523,612},{33,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-level-list.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,41}</string>
				<key>spriteSourceSize</key>
				<string>{43,41}</string>
				<key>textureRect</key>
				<string>{{593,257},{43,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-logout.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{29,31}</string>
				<key>spriteSourceSize</key>
				<string>{29,31}</string>
				<key>textureRect</key>
				<string>{{628,593},{29,31}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-mute.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,39}</string>
				<key>spriteSourceSize</key>
				<string>{38,39}</string>
				<key>textureRect</key>
				<string>{{41,617},{38,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-outstanding-overlay.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3.5}</string>
				<key>spriteSize</key>
				<string>{40,21}</string>
				<key>spriteSourceSize</key>
				<string>{62,66}</string>
				<key>textureRect</key>
				<string>{{287,570},{40,21}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>icon-outstanding.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,8}</string>
				<key>spriteSize</key>
				<string>{52,50}</string>
				<key>spriteSourceSize</key>
				<string>{62,66}</string>
				<key>textureRect</key>
				<string>{{341,422},{52,50}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>icon-person.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,36}</string>
				<key>spriteSourceSize</key>
				<string>{33,36}</string>
				<key>textureRect</key>
				<string>{{443,435},{33,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-players.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{47,40}</string>
				<key>spriteSourceSize</key>
				<string>{47,47}</string>
				<key>textureRect</key>
				<string>{{310,565},{47,40}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>icon-refresh-square.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,34}</string>
				<key>spriteSourceSize</key>
				<string>{33,34}</string>
				<key>textureRect</key>
				<string>{{593,593},{33,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>icon-send-btn.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,47}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{192,570},{46,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>icon-server-folder.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,41}</string>
				<key>spriteSourceSize</key>
				<string>{43,41}</string>
				<key>textureRect</key>
				<string>{{593,299},{43,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-settings.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,41}</string>
				<key>spriteSourceSize</key>
				<string>{43,41}</string>
				<key>textureRect</key>
				<string>{{593,341},{43,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-show-motd.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,41}</string>
				<key>spriteSourceSize</key>
				<string>{43,41}</string>
				<key>textureRect</key>
				<string>{{593,383},{43,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-show-player.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,47}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{351,570},{46,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>icon-teleport.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,56}</string>
				<key>spriteSourceSize</key>
				<string>{54,56}</string>
				<key>textureRect</key>
				<string>{{537,318},{54,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-unban.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,41}</string>
				<key>spriteSourceSize</key>
				<string>{43,41}</string>
				<key>textureRect</key>
				<string>{{593,425},{43,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-unmute.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,39}</string>
				<key>spriteSourceSize</key>
				<string>{38,39}</string>
				<key>textureRect</key>
				<string>{{80,617},{38,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-unwhitelist.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>textureRect</key>
				<string>{{593,552},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-voice-chat-guide.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,41}</string>
				<key>spriteSourceSize</key>
				<string>{43,41}</string>
				<key>textureRect</key>
				<string>{{593,467},{43,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>icon-whitelist.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{39,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>textureRect</key>
				<string>{{0,617},{39,40}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>kofi-promo-border.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{309,182}</string>
				<key>spriteSourceSize</key>
				<string>{309,182}</string>
				<key>textureRect</key>
				<string>{{0,387},{309,182}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>kofi-promo-card.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{329,193}</string>
				<key>spriteSourceSize</key>
				<string>{329,193}</string>
				<key>textureRect</key>
				<string>{{0,147},{329,193}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>list-border-bottom.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,3}</string>
				<key>spriteSize</key>
				<string>{389,45}</string>
				<key>spriteSourceSize</key>
				<string>{389,51}</string>
				<key>textureRect</key>
				<string>{{0,101},{389,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>list-border-side.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,0}</string>
				<key>spriteSize</key>
				<string>{24,64}</string>
				<key>spriteSourceSize</key>
				<string>{29,64}</string>
				<key>textureRect</key>
				<string>{{321,342},{24,64}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>list-border-top.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2.5}</string>
				<key>spriteSize</key>
				<string>{394,46}</string>
				<key>spriteSourceSize</key>
				<string>{394,53}</string>
				<key>textureRect</key>
				<string>{{0,0},{394,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>menuicon.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>textureRect</key>
				<string>{{392,422},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>pencil.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{27,27}</string>
				<key>spriteSourceSize</key>
				<string>{27,27}</string>
				<key>textureRect</key>
				<string>{{637,226},{27,27}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>practice-gray-btn.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{61,63}</string>
				<key>spriteSourceSize</key>
				<string>{61,64}</string>
				<key>textureRect</key>
				<string>{{478,256},{61,63}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>room-icon-2p.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{46,46}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{240,570},{46,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>room-icon-collision.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{46,46}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{399,570},{46,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>room-icon-deathlink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{46,46}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{446,570},{46,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>room-icon-lock.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{46,46}</string>
				<key>spriteSourceSize</key>
				<string>{46,47}</string>
				<key>textureRect</key>
				<string>{{593,0},{46,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>secret-question-mark.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,34}</string>
				<key>spriteSourceSize</key>
				<string>{33,34}</string>
				<key>textureRect</key>
				<string>{{557,610},{33,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shadow-thing-idk.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{77,23}</string>
				<key>spriteSourceSize</key>
				<string>{77,23}</string>
				<key>textureRect</key>
				<string>{{568,198},{77,23}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>speaker-icon-mute.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,24}</string>
				<key>spriteSourceSize</key>
				<string>{24,24}</string>
				<key>textureRect</key>
				<string>{{637,279},{24,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>speaker-icon-red.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,24}</string>
				<key>spriteSourceSize</key>
				<string>{24,24}</string>
				<key>textureRect</key>
				<string>{{637,304},{24,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>speaker-icon-yellow.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,24}</string>
				<key>spriteSourceSize</key>
				<string>{24,24}</string>
				<key>textureRect</key>
				<string>{{637,329},{24,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>speaker-icon.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,24}</string>
				<key>spriteSourceSize</key>
				<string>{24,24}</string>
				<key>textureRect</key>
				<string>{{637,354},{24,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>status-invisible.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,33}</string>
				<key>spriteSourceSize</key>
				<string>{32,33}</string>
				<key>textureRect</key>
				<string>{{640,0},{32,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>status-visible.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,33}</string>
				<key>spriteSourceSize</key>
				<string>{32,33}</string>
				<key>textureRect</key>
				<string>{{640,34},{32,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tab-gradient-mask.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1}</string>
				<key>spriteSize</key>
				<string>{91,30}</string>
				<key>spriteSourceSize</key>
				<string>{92,32}</string>
				<key>textureRect</key>
				<string>{{310,534},{91,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tab-gradient.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{394,53}</string>
				<key>spriteSourceSize</key>
				<string>{394,53}</string>
				<key>textureRect</key>
				<string>{{0,47},{394,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>title-daily.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{320,45}</string>
				<key>spriteSourceSize</key>
				<string>{320,45}</string>
				<key>textureRect</key>
				<string>{{0,341},{320,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>white-period.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{10,10}</string>
				<key>spriteSourceSize</key>
				<string>{10,10}</string>
				<key>textureRect</key>
				<string>{{477,435},{10,10}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>globedsheet1.png</string>
			<key>size</key>
			<string>{672,656}</string>
			<key>textureFileName</key>
			<string>globedsheet1.png</string>
		</dict>
	</dict>
</plist>